<!doctype html>
<html lang="en" ng-app="app" ng-controller="AppController">
<head>
<meta charset="utf-8">
<title>Swanepoel Method</title>

{% set bower = '/angularjs/app/bower_components' %}

<link rel="stylesheet" href="{{ asset('angularjs/app/bower_components/bootstrap/dist/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('angularjs/app/css/main.css') }}">

<!-- jquery -->
<script src="{{ asset(bower ~ '/jquery/jquery.min.js') }}"></script>

<!-- angular-file-upload plugin shim for old browsers -->
<script src="{{ asset(bower ~ '/ng-file-upload/angular-file-upload-shim.min.js') }}"></script> 


<!-- angular -->
<script src="{{ asset(bower ~ '/angular/angular.js') }}"></script>
  <script src="{{ asset(bower ~ '/angular-resource/angular-resource.js') }}"></script>
  <script src="{{ asset(bower ~ '/angular-route/angular-route.js') }}"></script>
  <script src="{{ asset('angularjs/app/js/app.js') }}"></script>
  <!-- angular-ui-router -->
  <script src="{{ asset(bower ~ '/angular-ui-router/release/angular-ui-router.min.js') }}"></script>

  <!-- calculationModule -->
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/calculationModule.js') }}"></script>
    <!-- controllers -->
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/controllers/CalculationFlowCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/controllers/steps/Step0UploadDataCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/controllers/steps/Step1AdjustUploadedDataCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/controllers/steps/Step2FindExtremaCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/controllers/steps/Step3EnvelopesCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/controllers/steps/Step4PseudoExtremaCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/controllers/FormulasCtrl.js') }}"></script>
    <!-- services -->
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/services/LoadingIndicator.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/services/Calculus.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/services/Formulas.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/services/Statistics.js') }}"></script>
    <!-- directives -->
      <!-- pages -->
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/findingExtremaPage.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/applyingSwanepoelFormulas/applyingSwanepoelFormulasPage.js') }}"></script>
      <!-- partials -->
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/plot.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/pointsTable.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/calculationError.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/loading.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/rawExperimentalData.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/extrema.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/envelopes.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/pseudoextrema.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/finalExtremaArray.js') }}"></script>
  <!-- dataManagerModule -->
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/dataManagerModule.js') }}"></script>
    <!-- controllers -->
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/controllers/FilmSpectrumFileUploadCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/controllers/ExtremaFileUploadCtrl.js') }}"></script>
    <!-- services -->
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/services/DataManager.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/services/FileManager.js') }}"></script>
    <!-- directives -->
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/directives/filmSpectrumUploadForm.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/directives/extremaUploadForm.js') }}"></script>
    <!-- lib -->
    <script src="{{ asset(bower ~ '/ng-file-upload/angular-file-upload.min.js') }}"></script> 
  <!-- plotterModule -->
    <script src="{{ asset('angularjs/app/js/modules/plotterModule/plotterModule.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/plotterModule/services/Plotter.js') }}"></script>

<!-- jquery-csv -->
<script src="{{ asset(bower ~ '/jquery-csv/src/jquery.csv.js') }}"></script>
<!-- numericjs -->
<script src="{{ asset(bower ~ '/numericjs/src/numeric.js') }}"></script>
<!-- handsontable -->
<script src="{{ asset(bower ~ '/handsontable/dist/jquery.handsontable.js') }}"></script>
<script src="{{ asset(bower ~ '/numeraljs/numeral.js') }}"></script>
<link rel="stylesheet" href="{{ asset(bower ~ '/handsontable/dist/jquery.handsontable.css') }}" type="text/css" />
<!-- MathJax -->
<!-- <script type="text/javascript" src="{{ asset('/angularjs/app/lib/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML') }}"></script> -->
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script>
  MathJax.Hub.Config({
      jax: ["input/TeX","output/HTML-CSS"],
      displayAlign: "left"
  });
</script>

<!-- "flot" plotting tool -->
<script src="{{ asset(bower ~ '/flot.tooltip/js/jquery.flot.js') }}"></script>
<script src="{{ asset(bower ~ '/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('/angularjs/app/lib/jquery.flot.axislabels.js') }}"></script>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('angularjs/app/bower_components/flot.tooltip/js/excanvas.min.js') }}"></script><![endif]-->
</head>
<body>

<div id="site-header">
  <div id="site-name">
    Swanepoel Method
  </div>
  <!--
  <div id="navbar">
    <a href="#/finding-extrema">find extrema</a>
    <a href="#/applying-swanepoel-formulas">apply formulas</a>
  </div>
  -->
</div>
<div id="loading-container">
  <span id="loading">loading...</span>
</div>

<div id="site-body" ui-view></div>


</div>

</body>
</html>
