<!doctype html>
<html lang="en" ng-app="app" ng-controller="AppController">
<head>
<meta charset="utf-8">
<title>Swanepoel Method</title>

{% set bower = '/angularjs/app/bower_components' %}

<!-- <link rel="stylesheet" href="{{ asset('angularjs/app/bower_components/bootstrap/dist/css/bootstrap.css') }}"> -->
<link rel="stylesheet" href="{{ asset('angularjs/app/css/main.css') }}">

<!-- jquery -->
<script src="{{ bower }}{{ asset('jquery/jquery.min.js') }}"></script>

<!-- angular-file-upload plugin shim for old browsers -->
<script src="{{ bower }}/ng-file-upload/angular-file-upload-shim.min.js"></script> 

<script src="{{ bower }}{{ asset('angular/angular.js') }}"></script>
  <script src="{{ bower }}{{ asset('angular-resource/angular-resource.js') }}"></script>
  <script src="{{ asset('angularjs/app/js/app.js') }}"></script>
  <!-- calculationModule -->
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/calculationModule.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/controllers/CalculationFlowCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/services/Calculus.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/calculationModule/services/Formulas.js') }}"></script>
    <!-- directives -->
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/waitingFilmSpectrumFileUpload.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/rawExperimentalData.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/waitingExtremaCalculation.js') }}"></script>
      <script src="{{ asset('angularjs/app/js/modules/calculationModule/directives/extrema.js') }}"></script>
    <!-- directives -->

  <!-- dataManagerModule -->
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/dataManagerModule.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/controllers/FilmSpectrumFileUploadCtrl.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/services/DataManager.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/services/FileManager.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/dataManagerModule/directives/filmSpectrumUploadForm.js') }}"></script>
    <script src="{{ bower }}/ng-file-upload/angular-file-upload.min.js"></script> 
  <!-- plotterModule -->
    <script src="{{ asset('angularjs/app/js/modules/plotterModule/plotterModule.js') }}"></script>
    <script src="{{ asset('angularjs/app/js/modules/plotterModule/services/Plotter.js') }}"></script>
  <!-- angular-file-upload plugin -->

<!-- jquery-csv -->
<script src="{{ bower }}{{ asset('jquery-csv/src/jquery.csv.js') }}"></script>

<!-- "flot" plotting tool -->
<script src="{{ bower }}{{ asset('flot.tooltip/js/jquery.flot.js') }}"></script>
<script src="{{ bower }}{{ asset('flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('angularjs/app/bower_components/flot.tooltip/js/excanvas.min.js') }}"></script><![endif]-->
</head>
<body>

<div id="calculations-output-area" ng-controller="CalculationFlowCtrl" >
  <div film-spectrum-upload-form></div>
  <div waiting-film-spectrum-file-upload ng-hide="calculationProgress.filmSpectrumFileUploaded"></div>
  <div>Substrate refractive index: <input type="text" ng-model="substrateRefractiveIndex"</div>
  <div raw-experimental-data ng-show="calculationProgress.filmSpectrumDataLoaded" class="calculation-results"></div>
  <button ng-click="findExtrema()">Find extrema</button>
  <div waiting-extrema-calculation ng-show="calculationProgress.calculatingExtrema && !calculationProgress.extremaFound"></div>
  <div extrema ng-show="calculationProgress.extremaFound">
</div>

</body>
</html>
