<!doctype html>
<html lang="en" ng-app="swanepoelMethod">
<head>
<meta charset="utf-8">
<title>Swanepoel Method</title>

{% set bower = '/angularjs/app/bower_components' %}

<!-- <link rel="stylesheet" href="{{ asset('angularjs/app/bower_components/bootstrap/dist/css/bootstrap.css') }}"> -->
<link rel="stylesheet" href="{{ asset('angularjs/app/css/main.css') }}">

<!-- jquery -->
<script src="{{ bower }}{{ asset('jquery/jquery.min.js') }}"></script>

<!-- angular-file-upload plugin shim for old browsers -->
<script src="{{ bower }}/ng-file-upload/angular-file-upload-shim.min.js"></script> 

<script src="{{ bower }}{{ asset('angular/angular.js') }}"></script>
  <script src="{{ bower }}{{ asset('angular-resource/angular-resource.js') }}"></script>
  <script src="{{ asset('angularjs/app/js/modules/calculationEngineModule.js') }}"></script>
  <script src="{{ asset('angularjs/app/js/modules/fileManagerModule.js') }}"></script>
  <script src="{{ asset('angularjs/app/js/modules/plotterModule.js') }}"></script>
  <script src="{{ asset('angularjs/app/js/swanepoelMethod.js') }}"></script>
  <!-- angular-file-upload plugin -->
  <script src="{{ bower }}/ng-file-upload/angular-file-upload.min.js"></script> 

<!-- jquery-csv -->
<script src="{{ bower }}{{ asset('jquery-csv/src/jquery.csv.js') }}"></script>

<!-- "flot" plotting tool -->
<script src="{{ bower }}{{ asset('flot.tooltip/js/jquery.flot.js') }}"></script>
<script src="{{ bower }}{{ asset('flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('angularjs/app/bower_components/flot.tooltip/js/excanvas.min.js') }}"></script><![endif]-->
</head>
<body>
<div id="calculations-output-area" ng-controller="CalculationController as Calculations" >
  <div ng-controller="ExperimentalDataFileUploadController">
    <div>Upload your experimental data file (.csv)</div>
    <input type="file" ng-file-select="onFileSelect($files)" >
    <div ng-if="fileUploadSuccess">
      {[{ uploadedFileName }]} was successefully uploaded
    </div>
    <div ng-if="fileUploadError">
      При загрузке файла произошла ошибка сервера :(
    </div>
  </div>

  <div ng-show="calculationProgress.rawExperimentalDataLoaded">
    <div >exp. data:</div>
    <ul>
      <li ng-repeat="point in experimentalData | limitTo:5 track by $index ">
        {[{point[0] | number:2 }]} : {[{point[1] | number:2 }]}
      </li>
      <li> ... </li>
    </ul>
  </div>
  <div id="experimental-data" style="width:90%; height:500px"></div>
</div>

</body>
</html>
